{% extends "blog/base.html" %}

{% block title %}Post List{% endblock %}

{% block content %}
<div class="row">
    {% for post in page_obj %}
    <div class="card mb-4">
        <a href="{% url 'post_detail' post.id %}"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{ post.created }}</div>
            <h2 class="card-title h4">{{ post.title }}</div>
            <p class="card-text">{{ post.body|truncatewords:30 }}</p>
            <a class="btn btn-primary" href="{% url 'post_detail' post.id %}">Read more →</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
    <span class="step-links">
         {% if page_obj.has_previous %}

            <a href="?page=1"> first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
